body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
    color: #000000;
}

.navbar a {
    color: #000000;
}

.container {
    margin-top: 20px;
}

h1, h2 {
    color: #333;
}

button {
    cursor: pointer;
}

.form-group label {
    font-weight: bold;
}

.alert {
    margin-top: 20px;
}
